// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.display {
	background-color: lightgray;
	border: 1px solid gray;
	border-radius: 10px;
	max-width: 500px;
}

.display:hover {
	background-color: lightblue;
	color: white;
}

.display p {
	margin-left: 20px;
}